<h3>Inspection for {{ inspection.parish.name }}</h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Question</th>
            <th>Response</th>
        </tr>
    </thead>
    <tbody>
        {% for question in inspection_questions %}
        <tr>
            <td>{{ question.question_text }}</td>
            <td>{{ question.get_response_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4>General Comment</h4>
<p>{{ comment.comment_text }}</p>



